# Hello World!

The simplest directive in Python is the "print" directive - it simply prints out a line (and also includes a newline, unlike in C).
In Python 3, the print statement, it is a function, and must be invoked with parentheses.

In [1]:
print("Hello World")

Hello World

## Indentation

Python uses indentation for blocks, instead of curly braces. Both tabs and spaces are supported, but the standard indentation requires standard Python code to use four spaces.  
For Example:

In [2]:
x=1
if x==1:
    # notice the indentation - 4 spaces
    print("x is 1")

x is 1


# Variables and Types


Python is completely object oriented, and not "statically typed". You do not need to declare variables before using them, or declare their type. Every variable in Python is an object.

## Numbers

Python supports two types of numbers - integers(whole numbers) and floating point numbers(decimals).

In [4]:
# To define an integer you use the following syntax.
myInt=7
print(myInt)

7

In [6]:
# To define a floating point number you use the following syntax
myFloat=7.0
print(myFloat)
myFloat=float(7)
# We typecast an integer 7 into a float 7.0
print(myFloat)

7.0
7.0

Division (/) always returns a float. To do floor division and get an integer result (discarding any fractional result) you can use the // operator; to calculate the remainder you can use %

In [1]:
x=17/3
y=17//3
z=17%3
print(x,y,z)

5.666666666666667 5 2

## Strings

Strings are defined either with a single quote or a double quotes.   
The difference between the two is that using double quotes makes it easy to include apostrophes (whereas these would terminate the string if using single quotes)

In [8]:
myString='hello'
print(myString)
myString="heya"
print(myString)
myString="Don't worry about apostrophes"
print(myString)

hello
heya
Don't worry about apostrophes

Simple operators can be executed on numbers and strings:

In [10]:
# These are the operations on numbers.
one = 1
two = 2
three = one+two
print(three)
# These are the operations on strings. The '+' here is called concatenation.
hello = "hello"
world = "world"
helloworld=hello + " " +world
print(helloworld)

3
hello world

In python, Assignment can be done on more than one variable simultaneously, on the same line, like this:

In [11]:
a,b=3,4
print(a,b)

3 4

# Lists

Lists are very similar to arrays. They can contain any type of variable, and they can contain as many variables as you wish. Lists can also be iterated over in a very simple manner.   
Here is an example of how to build a list.

In [12]:
# This is how you create an empty list.
myList=[] 
# To add items to it we use the append() method
myList.append(1)
myList.append(2)
myList.append(3)
print(myList[0])
print(myList[1])
print(myList[2])
# You can also iterate over each element in list by doing the following:
for x in myList:
    print(x)
# You can print the entire list
print(myList)

1
2
3
1
2
3
[1, 2, 3]

Accessing an index which does not exist generates an exception (an error).

In [13]:
myList=[1,2,3,4,5]
print(myList[6])

IndexError: list index out of range

# Basic Operators

## Arithmetic Operators

Just as any other programming language, the addition, subtraction , multiplication, division, modulo, exponential operator remains the same.

In [15]:
number = 1+2*3/4.0
print(number)

2.5

In [17]:
number=number%2
print(number)

0.5

In [18]:
squared=7**2
cubed=2**3
print(squared)
print(cubed)

49
8

## Using Operators with Strings

Python supports concatenating strings using the addition operator:

In [19]:
helloworld="hello"+" "+"world"
print(helloworld)

hello world

Python also supports multiplying strings to form a string with a repeating sequence:

In [20]:
multiple_hellos="hello "*10
print(multiple_hellos)

hello hello hello hello hello hello hello hello hello hello

## Using Operators with Lists

Lists can be joined with the addition operators:

In [22]:
even_numbers=[2,4,6,8]
odd_numbers=[1,3,5,7]
all_numbers=odd_numbers+even_numbers
print(all_numbers)
# If you want to print it in a sequence
for i in range(4):
    print(odd_numbers[i],even_numbers[i])

[1, 3, 5, 7, 2, 4, 6, 8]
1 2
3 4
5 6
7 8

Just as in strings, Python supports forming new lists with a repeating sequence using the multiplication operator:

In [23]:
print([1,2,3]*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# String Formatting

Python uses C-style string formatting to create new, formatted strings. The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s" and "%d".

In [24]:
name="Riya"
print("Hello, %s!" %name)

Hello, Riya!

To use two or more argument specifiers, use a tuple (parentheses):

In [26]:
name="Riya"
age=21
print("%s is %d years old." %(name,age))

Riya is 21 years old.

Any object which is not a string can be formatted using the %s operator as well. The string which returns from the "repr" method of that object is formatted as the string.   
For example:

In [27]:
# This prints out a list: [1,2,3]
myList=[1,2,3]
print("A list: %s" %myList)

A list: [1, 2, 3]

Here are some basic argument specifiers:   
%s - String (or any object with string representation, like numbers)   
%d - Integers   
%f - Floating Point Numbers   
%.< number of digits >f - Floating point numbers with a fixed amount of digits to the right of the dot.   
%x / %X - Integers in hex representation (lowercase/uppercase)

# Basic String Operations

Strings are bits of text. They can be defined as anything between quotes:

In [28]:
astring="Hello World!"
astring2='Hello World!'

In [29]:
# To check the length of string
print(len(astring))

12

In [30]:
# To check the index of a specific character- its first occourence.
print(astring.index("o"))

4

In [31]:
# To count the number of occourences of a character.
print(astring.count("l"))

3

In [32]:
# To slice a substring from a given string.
print(astring[3:7])

lo W

In [33]:
# To slice a substring but also step on a given string.
print(astring[3:7:2])

l

In [34]:
# There is no reverse function in python for string but using this you can reverse the string.
print(astring[::-1])

!dlroW olleH

In [35]:
# To convert the string into complete lower case or upper case we do the following.
print(astring.upper())
print(astring.lower())

HELLO WORLD!
hello world!

In [36]:
# In this we are checking if a string starts and ends with something secific.
print(astring.startswith("Hello"))
print(astring.endswith("dsjhdfdhfd"))

True
False

In [38]:
# To split the string into a bunch of strings grouped together in a list.
ListOfWords=astring.split(" ")
print(ListOfWords)

['Hello', 'World!']

# Conditions

Python uses boolean logic to evaluate conditions. The boolean values True and False are returned when an expression is compared or evaluated.    
For example:

In [39]:
x=2
print(x==2)
print(x==3)
print(x<3)
print(x>10)

True
False
True
False

## Boolean Operators

The "and" and "or" boolean operators allow building complex boolean expressions.

In [41]:
name="Riya"
age=21
if name=="Riya" and age==21:
    print("Your name is Riya and you are 21 years old.")
if name=="Riya" or name=="Roshan":
    print("Your name is either Riya or Roshan.")

Your name is Riya and you are 21 years old.
Your name is either Riya or Roshan.

The "in" operator could be used to check if a specified object exists within an iterable object container, such as a list:

In [42]:
name="Riya"
if name in ["Riya","Roshan"]:
    print("Your name is either Riya or Roshan")

Your name is either Riya or Roshan

In [43]:
# Python if-elif-else statement with indentation.
number=int(input("Enter a number to check if odd or even:"))
if number%2==0:
    print("It is an even number.")
else:
    print("It is an odd number.")

Enter a number to check if odd or even:12
It is an even number.

The is operator does not match the value of the variables, but the instance themselves.

In [44]:
x=[1,2,3]
y=[1,2,3]
print(x==y)
print(x is y)
print(x is x)

True
False
True

The "not" operator inverts it.

In [45]:
print(not False)
print(not True)

True
False

# Loops

There are two types of loops in python: for loop and while loop.

## The "for" Loop

For loops iterate over a given sequence.   
Here is an example:

In [46]:
primes=[2,3,5,7]
for prime in primes:
    print(prime)

2
3
5
7

For loops can iterate over a sequence of numbers using the "range" and "xrange" functions.   
The difference between range and xrange is that the range function returns a new list with numbers of that specified range, whereas xrange returns an iterator, which is more efficient. (Python 3 uses the range function, which acts like xrange). Note that the range function is zero based.

In [47]:
# Lets say I want to print out 3,5,7 then:
for x in range(3,8,2):
    print(x)

3
5
7

## The "while" Loop

While loops repeat as long as a certain boolean condition is met.   
For example:

In [48]:
count=0 #initialisation
while count<5:  #condition of the loop
    print(count)
    count+=1 #increment

0
1
2
3
4

## The "Break" and "Continue" Statements

"break" is used to exit a for loop or a while loop, whereas "continue" is used to skip the current block, and return to the "for" or "while" statement.   
A few examples:

In [50]:
count=0
while True:
    print(count)
    count+=1
    if count>=5:
        break
        
# This is how we use break in a loop
for x in range(10):
    if x%2==0:
        continue
    print(x)

# This is how we use continue in a loop

0
1
2
3
4
1
3
5
7
9

## Can we use "else" clause for loops?

Unlike languages like C,CPP.. we can use else for loops. When the loop condition of "for" or "while" statement fails then code part in "else" is executed. If a break statement is executed inside the for loop then the "else" part is skipped. Note that the "else" part is executed even if there is a continue statement.

In [3]:
count=0
while count<5:
    print(count)
    count+=1
else:
    print("Count value reached %d"%(count))

0
1
2
3
4
Count value reached 5

# Functions

Functions are a convenient way to divide your code into useful blocks, allowing us to order our code, make it more readable, reuse it and save some time. Also functions are a key way to define interfaces so programmers can share their code.

In [4]:
# This is defining a function
def myFunction():
    print("Hello from my function")

In [6]:
# This is calling a function
myFunction()

Hello from my function

In [7]:
def my_function_with_args(username,greeting):
    print("Hello %s, From my function I wish you %s"%(username,greeting))

In [8]:
my_function_with_args("Riya","All the Best")

Hello Riya, From my function I wish you All the Best

In [10]:
# Functions can also return a value
def sumTwoNumbers(num1,num2):
    sum1=num1+num2
    return sum1

In [11]:
sumTwoNumbers(5,7)

12

# Classes and Objects

Objects are an encapsulation of variables and functions into a single entity. Objects get their variables and functions from classes. Classes are essentially a template to create your objects

Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made. Each class instance can have attributes attached to it for maintaining its state. Class instances can also have methods (defined by its class) for modifying its state.

Python classes provide all the standard features of Object Oriented Programming: the class inheritance mechanism allows multiple base classes, a derived class can override any methods of its base class or classes, and a method can call the method of a base class with the same name. Objects can contain arbitrary amounts and kinds of data. As is true for modules, classes partake of the dynamic nature of Python: they are created at runtime, and can be modified further after creation.

In [17]:
class MyClass:
    variable="bleh"
    
    def function(self):
        print("This is a message inside the class.")
        return True
# Now the variable "myobjectx" holds an object of the class "MyClass" that contains the variable and the function defined within the class called "MyClass".

MyObjectX=MyClass()
print(MyObjectX.variable)
print(MyObjectX.function())

bleh
This is a message inside the class.
True

## init()

The _ _init_ _ () function, is a special function that is called when the class is being initiated. It's used for asigning values in a class.

In [18]:
class NumberHolder:
    def __init__(self,number):
        self.number=number

# Dictionaries

A dictionary is a data type similar to arrays, but works with keys and values instead of indexes. Each value stored in a dictionary can be accessed using a key, which is any type of object (a string, a number, a list, etc.) instead of using its index to address it.

In [19]:
phonebook={}
phonebook["User1"]=290238475
phonebook["User2"]=237845694
phonebook["User3"]=839247583
print(phonebook)

{'User1': 290238475, 'User2': 237845694, 'User3': 839247583}

In [20]:
phonebook={
    "User1":32089475,
    "User2":27837746,
    "User3":84043857
}

print(phonebook)

{'User1': 32089475, 'User2': 27837746, 'User3': 84043857}

## Iterating over dictionaries